# Menghitung Winrate di Mobile Legend
## v1.01
### https://github.com/fiqryrev/ml_winrate_calculator

In [1]:
import numpy as np
import pandas as pd

In [2]:
def hitung_winrate(mode="wr"):
    # Basic Configuration
    ## reversed_logic adalah boolean untuk melihat apakah ingin menghitung naik/turun winrate, default=False
    reversed_logic = False
    # Match mode
    if mode == "match":
        try:
            win_sekarang = int(input("Masukan total Win sekarang: "))
            total_match = int(input("Masukan total Match sekarang: "))
            winrate_boundary = float(input("Masukan winrate yang diinginkan (0 - 100): "))
        except:
            print("Input harus angka")
            return("")
        
    elif mode == "wr":
        try:
            total_match = int(input("Masukan total Match sekarang: "))
            winrate_now = float(input("Masukan winrate sekarang (0 - 100): "))
            winrate_boundary = float(input("Masukan winrate yang diinginkan (0 - 100): "))
        except:
            print("Input harus angka")
            return("")
        assert 0<=winrate_now<=100, "Win Rate should be between 0 - 100"
        win_sekarang = int(total_match*winrate_now/100)
    else:
        print("Mode salah, gunakan 'match' / 'wr'")
        return("")
    
    # Logic Validasi Input
    assert win_sekarang > 0, "Win match should not be higher than 0"
    assert total_match > 0, "Total match should not be higher than 0"
    assert win_sekarang <= total_match, "Win match should not be higher than total match"
    assert 0<=winrate_boundary<=100, "Win Rate should be between 0 - 100"
    
    # Jika win rate sekarang lebih kecil dari harapan win rate: Mode penurunan WR
    if 100.00*win_sekarang/total_match >= winrate_boundary:
        reversed_logic = True

    temp_win = win_sekarang
    temp_match = total_match
    
    # Menggunakan while Loop untuk menghitung total win/lose yg dibutuhkan
    if reversed_logic != True:
        while True:
            temp_win += 1
            temp_match += 1
            temp_winrate = 100.00*temp_win/temp_match
            if temp_winrate >= winrate_boundary:
                break
        need_to_win = temp_win - win_sekarang
        print(f"Kamu membutuhkan setidaknya {need_to_win} total win match tanpa ada satu match kalah untuk bisa mencapai winrate {winrate_boundary}%")
        print(f"Sehingga total win kamu adalah {temp_win} dari {temp_match} total match")
    else:
        while True:
            temp_win += 0
            temp_match += 1
            temp_winrate = 100.00*temp_win/temp_match
            if temp_winrate <= winrate_boundary:
                break
        need_to_lose = temp_match - total_match
        print(f"Kamu membutuhkan setidaknya {need_to_lose} total lose match tanpa ada satu match menang untuk bisa mencapai winrate {winrate_boundary}%")
        print(f"Sehingga total win kamu adalah {temp_win} dari {temp_match} total match")

In [3]:
def hitung_winrate_table( total_match,
                          winrate_now,
                          winrate_boundary):
    # v1.02: Updated 
    # Keterangan sama dengan fungsi sebelumnya
    
    reversed_logic = False
    win_sekarang = int(total_match*winrate_now/100)
    
    if 100.00*win_sekarang/total_match >= winrate_boundary:
        reversed_logic = True

    temp_win = win_sekarang
    temp_match = total_match

    if reversed_logic != True:
        while True:
            temp_win += 1
            temp_match += 1
            temp_winrate = 100.00*temp_win/temp_match
            if temp_winrate >= winrate_boundary:
                break
        need_to_win = temp_win - win_sekarang
        return(need_to_win)
    else:
        while True:
            temp_win += 0
            temp_match += 1
            temp_winrate = 100.00*temp_win/temp_match
            if temp_winrate <= winrate_boundary:
                break
        need_to_lose = temp_match - total_match
        return(need_to_lose)

## Edisi Ingin Naikin WR

In [4]:
#### Guinevere
# Total Match = 1207
# Winrate     = 61.1%

hitung_winrate()

Masukan total Match sekarang: 1207
Masukan winrate sekarang (0 - 100): 61.1
Masukan winrate yang diinginkan (0 - 100): 65
Kamu membutuhkan setidaknya 136 total win match tanpa ada satu match kalah untuk bisa mencapai winrate 65.0%
Sehingga total win kamu adalah 873 dari 1343 total match

In [5]:
# Kufra
# Total Match = 246
# Winrate     = 57.3

hitung_winrate()

Masukan total Match sekarang: 246
Masukan winrate sekarang (0 - 100): 57.3
Masukan winrate yang diinginkan (0 - 100): 60
Kamu membutuhkan setidaknya 19 total win match tanpa ada satu match kalah untuk bisa mencapai winrate 60.0%
Sehingga total win kamu adalah 159 dari 265 total match

In [6]:
#### Zilong
# Total Match = 100
# Total Win   = 50

hitung_winrate(mode="match")

Masukan total Win sekarang: 50
Masukan total Match sekarang: 100
Masukan winrate yang diinginkan (0 - 100): 80
Kamu membutuhkan setidaknya 150 total win match tanpa ada satu match kalah untuk bisa mencapai winrate 80.0%
Sehingga total win kamu adalah 200 dari 250 total match

## Edisi Ingin Turunin WR

In [7]:
#### Nana
# Total Match = 100
# Total Win   = 80
# Harapan WR  = 50%

hitung_winrate(mode="match")

Masukan total Win sekarang: 80
Masukan total Match sekarang: 100
Masukan winrate yang diinginkan (0 - 100): 50
Kamu membutuhkan setidaknya 60 total lose match tanpa ada satu match menang untuk bisa mencapai winrate 50.0%
Sehingga total win kamu adalah 80 dari 160 total match

# Excel-based Data

In [8]:
df_aa = pd.DataFrame(np.array([["gusion",555,57.5],
                               ["leomord",492,55.5],
                               ["yuzong",451,58.8],
                               ["kaja",346,57.5],
                               ["khufra",313,59.4],
                               ["granger",269,49.8],
                               ["khaleed",237,58.6]]),
                     columns=["hero","total_match","current_winrate"])
df_aa["total_match"]     = df_aa["total_match"].astype(int) 
df_aa["current_winrate"] = df_aa["current_winrate"].astype(float)
df_aa

      hero  total_match  current_winrate
0   gusion          555             57.5
1  leomord          492             55.5
2   yuzong          451             58.8
3     kaja          346             57.5
4   khufra          313             59.4
5  granger          269             49.8
6  khaleed          237             58.6

In [9]:
# Harapan Win Rate
expected_winrate = 60.0

In [10]:
bracket = [expected_winrate]*df_aa.shape[0]
win_needed = []
for i in range(df_aa.shape[0]):
    win_needed.append(hitung_winrate_table(df_aa["total_match"].iloc[i],df_aa["current_winrate"].iloc[i],bracket[i]))
    
df_aa["expected_winrate"] = bracket
df_aa["total_win_needed"] = win_needed

df_aa

      hero  total_match  current_winrate  expected_winrate  total_win_needed
0   gusion          555             57.5              60.0                35
1  leomord          492             55.5              60.0                56
2   yuzong          451             58.8              60.0                14
3     kaja          346             57.5              60.0                24
4   khufra          313             59.4              60.0                 7
5  granger          269             49.8              60.0                71
6  khaleed          237             58.6              60.0                11